@page "/patterns/delete"
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Pattern</h2>
    <hr />
    @if (pattern is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@pattern.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Content</dt>
            @if (pattern.Content is not null)
            {
                @if (pattern.Content.Length > 100)
                {
                    <dd class="col-sm-10">@pattern.Content.Substring(0, 100) ...</dd>
                }
                else
                {
                    <dd class="col-sm-10">@pattern.Content</dd>
                }
            }
            else
            {
                <dd><i>no content</i></dd>
            }
        </dl>
        <EditForm method="post" Model="pattern" OnValidSubmit="DeletePattern" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(pattern is null)">Delete</button> |
            <a href="/patterns">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Pattern? pattern;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        pattern = await context.Patterns.Include(p => p.Tools).ThenInclude(t => t.Patterns).Include(p => p.Yarns).ThenInclude(y => y.Patterns).FirstOrDefaultAsync(m => m.Id == Id);

        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null)
        {
            var user = await context.Users.Where(u => u.UserName == claims.Name).FirstOrDefaultAsync();
            if (user.Id != pattern.AuthorId)
            {
                NavigationManager.NavigateTo("/patterns/details?id=" + pattern.Id);
            }
        }

        if (pattern is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePattern()
    {
        using var context = DbFactory.CreateDbContext();
        var comments = await context.Comments.Where(c => c.CraftObjectId == pattern.Id).ToListAsync();
        foreach (var comment in comments)
        {
            context.Comments.Remove(comment);
        }
        var pictures = await context.Pictures.Where(c => c.CraftObjectId == pattern.Id).ToListAsync();
        foreach (var picture in pictures)
        {
            string path = Path.Combine("StaticFiles", picture.Path);
            context.Pictures.Remove(picture);
            File.Delete(path);
        }
        foreach (var tool in pattern.Tools)
        {
            tool.Patterns.Remove(pattern);
        }
        foreach (var yarn in pattern.Yarns)
        {
            yarn.Patterns.Remove(pattern);
        }

        context.Patterns.Remove(pattern!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/patterns");
    }
}
