@page "/patterns"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ArtsAndCrafts.Models
@using ArtsAndCrafts.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject AuthenticationStateProvider _authenticationStateProvider

<PageTitle>Patterns</PageTitle>

<h1>Patterns</h1>

<p>
    <AuthorizeView>
        <Authorized>
            <a href="patterns/create">Create New</a>
        </Authorized>
        <NotAuthorized>
            <p>Log in to create your own patterns</p>
        </NotAuthorized>
    </AuthorizeView>
</p>

<div>
    @if (user is not null)
    {
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" @bind="matchMine">
            <label class="form-check-label" for="switchCheckDefault">Match to bookmarks</label>
        </div>
    }
    
    @if (matchMine)
    {
        <form action="/patterns" data-enhance>
            <InputRadioGroup @bind-Value="onlyOwned">
                <label>
                    <InputRadio Value="false" />
                    Match all bookmarks
                </label>
                <label>
                    <InputRadio Value="true" />
                    Match only owned
                </label>
            </InputRadioGroup>
            <label>
                <input @bind="matchYarnMaterial" type="checkbox" />
                Material
            </label>
            <label>
                <input @bind="matchYarnColor" type="checkbox" />
                Color
            </label>
            <label>
                <input @bind="matchYarnBrand" type="checkbox" />
                Brand
            </label>
            <label>
                <input @bind="matchYarnWeight" type="checkbox" />
                Weight
            </label>
            <input type="button" class="btn btn-info" @onclick="Filter" value="Filter" />
        </form>
    }
    else
    {
        <form action="/patterns" data-enhance>
        <label>
            <input type="search" @bind="MaterialFilter" />
            Material
        </label>
        <label>
            <input type="search" @bind="ColorFilter" />
            Color
        </label>
        <label>
            <input type="search" @bind="BrandFilter" />
            Brand
        </label>
        <label>
            <input type="search" @bind="WeightFilter" pattern="\d*" />
            Weight
        </label>
        <input type="button" class="btn btn-info" @onclick="Filter" value="Search" />
        <input type="button" class="btn btn-warning" @onclick="Clear" value="Clear filters">
        </form>
    }

</div>

<QuickGrid Class="table" Items="filteredPatterns">
    <PropertyColumn Property="pattern => pattern.Name" Sortable="true" />
    <PropertyColumn Property="pattern => pattern.Type" />
    <PropertyColumn Property="pattern => pattern.Author.UserName" />

    <TemplateColumn Context="pattern">
        <a href="@($"patterns/details?id={pattern.Id}")">View pattern</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext? context;
    private IQueryable<Pattern> patterns;
    private IQueryable<Pattern> filteredPatterns;
    private ApplicationUser? user;


    private bool matchMine = false;
    private bool onlyOwned = false;
    private bool matchYarnMaterial = false;
    private bool matchYarnColor = false;
    private bool matchYarnBrand = false;
    private bool matchYarnWeight = false;
    private string? MaterialFilter { get; set; }
    private string? ColorFilter { get; set; }
    private string? BrandFilter { get; set; }
    private int? WeightFilter { get; set; }

    protected override async void OnInitialized()
    {
        context ??= DbFactory.CreateDbContext();
        var claims = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (claims is not null && claims.IsAuthenticated)
        {
            user = context.Users.Include(u => u.BookmarkedTools).ThenInclude(t => t.Tool).Include(u => u.BookmarkedYarns).ThenInclude(y => y.Yarn).Where(u => u.UserName == claims.Name).FirstOrDefault();
        }
        patterns = context.Patterns.Include(p => p.Author).Include(p => p.Yarns).Include(p => p.Tools);
        filteredPatterns = patterns;
    }

    private void Filter()
    {
        if (matchMine && user is not null)
        {
            var colors = user.BookmarkedYarns.Select(y => y.Yarn.Color.ToUpper());
            filteredPatterns = patterns.Where(p => matchYarnColor ? p.Yarns.Select(y => y.Color).Any(color => colors.Contains(color.ToUpper())) : true);
        }
    }

    private void Clear()
    {
        MaterialFilter = null;
        ColorFilter = null;
        BrandFilter = null;
        WeightFilter = null;
    }

    public async ValueTask DisposeAsync() {
        if (context is not null) 
            await context.DisposeAsync();
    }
}
