@page "/patterns"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ArtsAndCrafts.Models
@using ArtsAndCrafts.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory

<PageTitle>Patterns</PageTitle>

<h1>Patterns</h1>

<p>
    <AuthorizeView>
        <Authorized>
            <a href="patterns/create">Create New</a>
        </Authorized>
        <NotAuthorized>
            <p>Log in to create your own patterns</p>
        </NotAuthorized>
    </AuthorizeView>
</p>

<QuickGrid Class="table" Items="context.Patterns.Include(p => p.Author)">
    <PropertyColumn Property="pattern => pattern.Name" Sortable="true" />
    <PropertyColumn Property="pattern => pattern.Type" />
    <PropertyColumn Property="pattern => pattern.Author.UserName" />

    <TemplateColumn Context="pattern">
        <a href="@($"patterns/details?id={pattern.Id}")">View pattern</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
