@page "/yarns/create"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Yarn</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Yarn" OnValidSubmit="AddYarn" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="Yarn.Name" class="form-control" />
                <ValidationMessage For="() => Yarn.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="material" class="form-label">Material:</label> 
                <InputText id="material" @bind-Value="Yarn.Material" class="form-control" /> 
                <ValidationMessage For="() => Yarn.Material" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="color" class="form-label">Color:</label> 
                <InputText id="color" @bind-Value="Yarn.Color" class="form-control" /> 
                <ValidationMessage For="() => Yarn.Color" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="brand" class="form-label">Brand:</label> 
                <InputText id="brand" @bind-Value="Yarn.Brand" class="form-control" /> 
                <ValidationMessage For="() => Yarn.Brand" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="weight" class="form-label">Weight:</label> 
                <InputNumber id="weight" @bind-Value="Yarn.Weight" class="form-control" /> 
                <ValidationMessage For="() => Yarn.Weight" class="text-danger" /> 
            </div>        
            <PictureInterface newPictures="@newPictures" maxFileSizeBytes="@maxFileSizeBytes" />
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/yarns">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Yarn Yarn { get; set; } = new();

    private List<Tuple<Picture, IBrowserFile>> newPictures = new List<Tuple<Picture, IBrowserFile>>();
    private int maxFileSizeBytes = 1024 * 1024;

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddYarn()
    {
        using var context = DbFactory.CreateDbContext();
        context.Yarns.Add(Yarn);
        await context.SaveChangesAsync();

        foreach (var item in newPictures)
        {
            item.Item1.CraftObject = Yarn;
            item.Item1.CraftObjectId = Yarn.Id;
            await using FileStream fs = new(Path.Combine("StaticFiles", item.Item1.Path), FileMode.Create);
            await item.Item2.OpenReadStream(maxFileSizeBytes).CopyToAsync(fs);
            context.Pictures.Add(item.Item1);
        }
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/yarns");
    }
}
