@page "/{type}/gallery"
@using Microsoft.EntityFrameworkCore
@using ArtsAndCrafts.Models
@inject IDbContextFactory<ArtsAndCrafts.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<h2>@name</h2>
<h3>Gallery</h3>
<div>
    <a href="@($"{type}/details?id={Id}")">Back to details</a>
</div>
@if (pictures is null || pictures.Count() == 0)
{
    <div>No images have been added for this element</div>
}
else
{
    <div class="row">
    @foreach (var picture in pictures)
    {
        <div class="col-md-6">
            <div class="card">
                    <img src="@Path.Combine("static-files", picture.Path)" class="card-img-top" />
                 <div class="card-body">
                     <p class="card-text">@picture.Name</p>
                 </div>
            </div>
        </div>
        
    }
    </div>
}

@code {
    List<Picture>? pictures;
    string name = string.Empty;

    [SupplyParameterFromQuery]
    private int Id { get; set; }
    [Parameter]
    public string type { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (type is null || !new List<string> {"patterns", "tools", "yarns"}.Contains(type))
        {
            NavigationManager.NavigateTo("notfound");
        }
        using var context = DbFactory.CreateDbContext();
        CraftObject? craftObject;
        if (type.Equals("patterns"))
        {
            craftObject = await context.Patterns.FirstOrDefaultAsync(m => m.Id == Id);
        }
        else if (type.Equals("tools"))
        {
            craftObject = await context.Tools.FirstOrDefaultAsync(m => m.Id == Id);
        }
        else
        {
            craftObject = await context.Yarns.FirstOrDefaultAsync(m => m.Id == Id);
        }
        if (craftObject is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        name = craftObject.Name;
        pictures = await context.Pictures.Where(x => x.CraftObjectId == Id).ToListAsync();
    }
}
