@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">

    <h1>Welcome to Arts & Crafts!</h1>
    <br />

    Browse for <a href="patterns">patterns</a>, <a href="tools">tools</a> and <a href="yarns">yarn</a>
    <br />
    <br />

    <AuthorizeView>
        <NotAuthorized>
            <a href="Account/Login">Log in</a> to upload your own patterns, bookmark pages and more!
            <br />
            <br />

            New here? Create an account <a href="Account/Register">here!</a>
        </NotAuthorized>
    </AuthorizeView>
    

</div>
